<div class="intro">

  <div class="language-selector">
    <mat-select (selectionChange)="updateLocale($event.value)" [(value)]="locale" class="select-css">
      <mat-option *ngFor="let l of locales" [value]="l.value">{{ l.label }}</mat-option>
    </mat-select>
  </div>
  <div class="intro-row">
    <h1>{{ 'greetings' | transloco }}</h1>
    <i [innerHTML]="'1F44B' | emoji " class="emoji-large"></i>
  </div>
  <h3>{{ 'about.0' | transloco }}</h3>
  <h3>{{ 'about.1' | transloco }}</h3>
  <div class="intro-row">
    <h3>{{ 'about.2.1' | transloco }}🧪
    {{ 'about.2.2' | transloco }}🛹</h3>
  </div>
  <div class="intro-row">
    <h3>{{ 'about.3.1' | transloco }}📈{{ 'about.3.2' | transloco }}</h3>
  </div>
  <h3>{{ 'about.4.1' | transloco }}📖{{ 'about.4.2' | transloco }}💪{{ 'about.4.3' | transloco }}</h3>
  <h3>{{ 'about.5.1' | transloco }}🔧{{ 'about.5.2' | transloco }}🌍</h3>

</div>

<div class="content" role="main">

  <h2>{{ 'resources.title' | transloco }}</h2>
  <p>{{ 'resources.subtitle' | transloco }}</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://blog.ashchuk.space">
      <span>Blog</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/ashchuk/">
      <span>GitHub</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://ashchuk.github.io/resume.pdf">
      <span>Resume</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.meetup.com/ru-RU/GDG-Tula/">
      <span>Meetup</span>
    </a>
  </div>
  <mat-divider></mat-divider>

  <!-- App 0 -->
  <div class="card-container">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>{{ 'project1.title' | transloco }}</mat-card-title>
        <mat-card-subtitle>{{ 'project1.subtitle' | transloco }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/webchat.png" alt="WebRTC web chat app">
      <mat-card-content>
        <h3>
          {{ 'project1.description' | transloco }}
        </h3>
      </mat-card-content>
      <div class="button-row">
        <a mat-stroked-button class="mat-button" href="https://github.com/ashchuk/react-webrtc-chat" color="primary" target="_blank">GitHub</a>
        <a mat-stroked-button class="mat-button" href="https://webchat.compositekey.tech/" color="primary" target="_blank">Demo</a>
        <a mat-stroked-button class="mat-button" href="https://www.youtube.com/playlist?list=PLFPNh6kYREgvtj85gA_wE7WLXu8f0gpnz" color="primary" target="_blank">YouTube</a>
      </div>
    </mat-card>

    <div class="project-description">
      <h1>{{ 'stack' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>React</mat-chip>
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>WebRTC</mat-chip>
        <mat-chip>Kubernetes</mat-chip>
        <mat-chip>Helm</mat-chip>
        <mat-chip>Docker</mat-chip>
        <mat-chip>websocket</mat-chip>
      </mat-chip-list>
      <h1>{{ 'keywords' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Web app</mat-chip>
        <mat-chip>Peer to peer</mat-chip>
        <mat-chip>Let's Encrypt</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- App 1 -->

  <div class="card-container">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>{{ 'project2.title' | transloco }}</mat-card-title>
        <mat-card-subtitle>{{ 'project2.subtitle' | transloco }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/uwpeditor.png" alt="UWP image editor app">
      <mat-card-content>
        <h3>
          {{ 'project2.description' | transloco }}
        </h3>
      </mat-card-content>
      <div class="button-row">
        <a mat-stroked-button class="mat-button" href="https://github.com/ashchuk/UWPImageEditor" color="primary" target="_blank">GitHub</a>
      </div>
    </mat-card>

    <div class="project-description">
      <h1>{{ 'stack' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>C#</mat-chip>
        <mat-chip>UWP</mat-chip>
        <mat-chip>XAML</mat-chip>
        <mat-chip>Unity DI</mat-chip>
        <mat-chip>MVVM</mat-chip>
        <mat-chip>Win2D</mat-chip>
        <mat-chip>Canvas</mat-chip>
      </mat-chip-list>
      <h1>{{ 'keywords' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Mobile app</mat-chip>
        <mat-chip>Windows 10</mat-chip>
        <mat-chip>Image editor</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- App 2 -->

  <div class="card-container">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>{{ 'project3.title' | transloco }}</mat-card-title>
        <mat-card-subtitle>{{ 'project3.subtitle' | transloco }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/cuckooapp.png" alt="Android notification app">
      <mat-card-content>
        <h3>
          {{ 'project3.description' | transloco }}
        </h3>
      </mat-card-content>
      <div class="button-row">
        <a mat-stroked-button class="mat-button" href="https://github.com/ashchuk/CuckooApp" color="primary" target="_blank">GitHub</a>
      </div>
    </mat-card>

    <div class="project-description">
      <h1>{{ 'stack' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Java</mat-chip>
        <mat-chip>Android</mat-chip>
        <mat-chip>Dagger2</mat-chip>
        <mat-chip>RxJava2</mat-chip>
        <mat-chip>Moxy</mat-chip>
        <mat-chip>Retrofit</mat-chip>
        <mat-chip>AAC</mat-chip>
        <mat-chip>ButterKnife</mat-chip>
        <mat-chip>Firebase</mat-chip>
      </mat-chip-list>
      <h1>{{ 'keywords' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Mobile app</mat-chip>
        <mat-chip>Android</mat-chip>
        <mat-chip>Widgets</mat-chip>
        <mat-chip>Material Design</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- App 3 -->

  <div class="card-container">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>{{ 'project4.title' | transloco }}</mat-card-title>
        <mat-card-subtitle>{{ 'project4.subtitle' | transloco }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/photosender.png" alt="Android photo sharing app">
      <mat-card-content>
        <h3>
          {{ 'project4.description' | transloco }}
        </h3>
      </mat-card-content>
      <div class="button-row">
        <a mat-stroked-button class="mat-button" href="https://github.com/ashchuk/photosender" color="primary" target="_blank">GitHub</a>
      </div>
    </mat-card>

    <div class="project-description">
      <h1>{{ 'stack' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Java</mat-chip>
        <mat-chip>Android</mat-chip>
        <mat-chip>GLES</mat-chip>
        <mat-chip>OkHttp</mat-chip>
        <mat-chip>Gson</mat-chip>
        <mat-chip>Python</mat-chip>
        <mat-chip>MongoDB</mat-chip>
        <mat-chip>Tornado</mat-chip>
        <mat-chip>Pillow</mat-chip>
      </mat-chip-list>
      <h1>{{ 'keywords' | transloco }}</h1>
      <mat-chip-list>
        <mat-chip>Mobile app</mat-chip>
        <mat-chip>Android</mat-chip>
        <mat-chip>API</mat-chip>
        <mat-chip>OpenGL</mat-chip>
        <mat-chip>OpenShift</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
       viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
          d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
          transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
